* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Formulario {
    width: 400px;
    background: grey;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: azure;
    box-shadow: 7px 13px 47px gray;
}

body {
    background: #F2EFE7;

}

.Formulario h1 {

    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;

}

.controls {
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid blue;
    font-family: 'calibri';
    font-size: 18px;
}

.botons {
    background-color: blue;
    font-size: medium;
    font: calibri;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 50%;
    padding: 5px;
    border: gray 1px solid;
    width: 100%;
    color: whitesmoke;
    margin: 16px 0;
    cursor: pointer;
    



}

.Formulario p {
    height: 40px;
    font-family: 'calibri';
    text-align: center;
    font-size: 20px;
    line-height: 20px;

}