body {
    background-color: #1e1e2f; 
    font-family: Arial;
    color: white;
    text-align: center;
}

.caja {
    background-color: #3a3a48; 
    padding: 20px;
    width: 300px;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    width: 80%;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#login {
    background-color: #003b80;
    color: white;
}

#mostrar {
    margin-left: 5px;
}

.mensaje {
    font-weight: bold;
    color: lightgreen;
}
